ul{
    list-style: none;
}
.menu a{   
    text-decoration: none!important;
    color: #040404;
    padding: 12px 35px;
    font-size: 13px;
    font-weight: bold;
}
.menu{
    position: absolute;
    top: 24px;
    left: 251px;
}
.menu li{
    position: relative;
    float:left;
    text-align: center;
    padding:10px 0px;
    background:rgba(0,0,0,.075);
    border:1px dotted #ccc;
    margin-left: 30px;
    border-radius: 5px;
    font-size: 12px;
    transition-duration: all ease 1; 
}
.menu li:hover{
    background: #006327;
}
.menu li:hover a{
    color:#fff;
}
.menu ul{
    position: absolute;
    top :41px;
    left:-46px;
}
.menu li ul li{
    background: #006327;
    margin: 1px 5px;
}
.menu li ul li a{
    color:#fff;
}
.menu li ul{
    transition-duration: all ease 2s;    
    display: none;
}
.menu li:hover ul{
    display: block;
}